

/* //-- section styles -- */

a#pdf { display: block;width:8em;background: #666; color: white; padding: 6px 50px 6px 12px; margin-bottom: 6px; text-decoration: none;  }
a#pdf:hover { background: #222; }


