<h1 class="title">Cvthèque</h1>
<div>
<table cellspacing="0" cellpadding="4" width="100%">
<tr>
 <td> <p><b> {{ cv.name }} </b></p>5, rue rivoli  - 91000 Evry <br> Tel : 066910093184 <br> 
Portable : 0656532147 <br> Email :  {{ cv.getuser().getEmail }} <br>  24 ans  <br> En couple : Permis B </td>
<td> <img src="" alt="photo" STYLE=" height:100px;width:100px; margin-left:60%;" > </td>
</tr>
</table>
</div>
 <p bgcolor="#FFFF80" align="center" style="font-weight: 900"> {{ cv.title }} 
 <br>Trilingue anglais - Français - arabe</p>
<b>Formation</b><br>
<table cellspacing="0" cellpadding="4" width="100%" STYLE=" border-style:solid;
border-color:#7aa37a;">
<tr>  <td> <b> Fev - juillet 2011 </b>  </td> <td>  <b> Converlogic - stage informatique </b>  <br> - Developpeur Java  <br> - Gestion base de donnees </td>  </tr>
<tr> <td>  <b> Avr- juillet 2012   </b></td><td>  <b> Iash - stage informatique </b> <br> - Developpeur Python-DJANGO  <br> - Gestion base de donnees </td>  </tr>
<tr><td>  <b> Fev - juillet 2013  </b>  </td> <td> <b> Paris Attitude - stage informatique </b> <br> - Developpeur .NET  <br> - Gestion base de donnees </td>   </tr>
</table>
<div>
<br>
<b>EXPERIENCES PROFESSIONNELLES</b><br>
<table cellspacing="0" cellpadding="4" width="100%" STYLE=" border-style:solid;
border-color:#7aa37a;">
<tr>  <td> <b> Fev - juillet 2011 </b>  </td> <td>  <b> Converlogic - stage informatique </b>  <br> - Developpeur Java  <br> - Gestion base de donnees </td>  </tr>
<tr> <td>  <b> Avr- juillet 2012   </b></td><td>  <b> Iash - stage informatique </b> <br> - Developpeur Python-DJANGO  <br> - Gestion base de donnees </td>  </tr>
<tr><td>  <b> Fev - juillet 2013  </b>  </td> <td> <b> Paris Attitude - stage informatique </b> <br> - Developpeur .NET  <br> - Gestion base de donnees </td>   </tr>
</table>
</div>

<div>
<br>
<b>Centre d'interet </b><br>
<table  cellspacing="0" cellpadding="4" width="100%"STYLE=" border-style:solid;
border-color:#7aa37a;">
<tr>  <td>  <b> Sport </b> </td> <td>  Foot Ball, natation, equitation</td>  </tr>
<tr> <td>  <b>  Musique </b> </td><td>Guittar, percussion </td>   </tr>

</table>
</div>
